@charset "utf-8";

/*common*/
body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
  font-size: 20px;
}
:root {
  --blue: skyblue;
  --pink: rgb(255, 192, 203);
}

/*font-size*/
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2em;
  line-height: 1.2;
  text-shadow: 2px 4px 2px #eee;
  border-bottom: 3px solid rgb(115, 115, 114);
}

/*color*/
.p-decolation.color--pink {
  color: var(--pink);
}
.p-decolation.color--blue {
  color: var(--blue);
}

/*font-weight*/
#basic > p {
  font-weight: bold;
}
